.dialogues {
    display: grid;
    position: relative;
    left: 25px;
    top: 75px;
    grid-template-columns: 3fr 10fr;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
}

.newMessage {
    grid-area: c;
    position: absolute;
    margin-top: 50px;
    margin-left: 420px;
}

.msgTxtarea {
    resize: none;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
}

.sendBtn {
    position: relative;
    bottom: 20px;
    left: 5px;
}
